<div class="row">
  {{#each food}}
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{dataValues.name}}</h5>
        <p class="card-text">Expiry date: {{dataValues.expiration}}</p>
        <p class="card-text">Product category: {{dataValues.category}}</p>
        <p class="card-text">Price: {{dataValues.price}}</p>
        <p id="currentDay" class="lead"></p>
        <button value={{dataValues.id}} class="btn btn-primary consumedBtn">Consume</button>
        <img src="" alt="">
      </div>
    </div>
  </div>
  {{/each}}
</div>
